<form *ngIf="loggingIn">
  <p>{{errorMessage}}</p>
  <input name="username" required value="username" type="text" [(ngModel)]="username"/>
  <input name="password" required value="password" type="password" [(ngModel)]="password"/>
  <button (click)="login()">Login</button>
</form>

<form *ngIf="!loggingIn">
  <p>{{errorMessage}}</p>
  <input name="username" required type="text" [(ngModel)]="username"/>
  <input name="password" required type="text" [(ngModel)]="password"/>
  <button (click)="register()">Register</button>
</form>
<button (click)="toggle()">{{pageText}}</button>
