
<div class="containerHeader">
    <h3 class="pixelFont">Assets</h3>
</div>
<div class="savedBox">
    <div class="boxHeader pixelFont">
        <h3>Saved Items:</h3>
    </div>
    
    <div class="savedList">
        <app-asset-box *ngFor="let asset of entity.getSavedEntities()" [asset]="asset"></app-asset-box>
    </div>
</div>

<div>
    <app-select-box label="Image" [items]="images" (onSelect)="setNewImage($event)"></app-select-box>
    <form (ngSubmit)="addNewImage()">
        <label>Add Image:</label>
        <input type="text" name="imageName" placeholder="name" [(ngModel)]="imageName"/>
        <input type="text" name="imageURL" placeholder="url" [(ngModel)]="imageURL"/>
        <input type="submit" value="Add"/>
    </form>
    <app-incrementor label="Pixels" [value]="frameSize" (onChange)="setFrameSize($event)" [negative]="false"></app-incrementor>
</div>

<div #spriteContainer class="sprite-selector-container">
    <img id="Tilemap1.png" src="../../../assets/Tilemap1.png"/>
    <img id="Characters1.png" class="hide" src="../../../assets/Characters2.png"/>
    <img id="Characters2.png" class="hide" src="../../../assets/Character3.png"/>
    <img id="Characters3.png" class="hide" src="../../../assets/Characters1.png"/>
    <img id="Flowers.png" class="hide" src="../../../assets/Flowers.png"/>
    <img id="objects.png" class="hide" src="../../../assets/objects.png"/>
    <img id="Trees1.png" class="hide" src="../../../assets/Trees.png"/>
    <img id="Trees2.png" class="hide" src="../../../assets/TX Plant.png"/>
    <img id="Walls.png" class="hide" src="../../../assets/Walls.png"/>
    <img id="Misc.png" class="hide" src="../../../assets/Misc.png"/>
    <img id="Boss.png" class="hide" src="../../../assets/Bosses.png"/>
    <img id="Link.png" class="hide" src="../../../assets/Player.png"/>
    <img id="TX2.png" class="hide" src="../../../assets/TX Tileset Grass.png"/>
    <img id="TX3.png" class="hide" src="../../../assets/TX Tileset Ground.png"/>
    <img id="Solaria.png" class="hide" src="../../../assets/World of Solaria Demo 1.0.png"/>
    <img id="Rupees.png" class="hide" src="../../../assets/Rupees.png"/>
   
    <div #spriteSquare class="sprite-square"></div>
</div>


