
.controller-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-top: 0;
    color: wheat;
    cursor: pointer;
}

.title{
    transition: color 0.3s;
}

.controller-container:hover svg{
    animation: shake var(--animationTime) ease-in-out alternate infinite;

}

.controller-container:hover .title{
    color: aliceblue;
}


#lightning{
    opacity: 0;
}


.controller-container:hover #lightning{
    animation: show  var(--animationTime) ease-in-out alternate infinite;

}


.controller-container:hover #bulbBorder{
    animation: toRed  var(--animationTime) ease-in-out alternate infinite;
}

.controller-container:hover #bulbInner{
    animation: toRed  var(--animationTime) ease-in-out alternate infinite;
}

.buttonX:hover{
    transform-origin: center;
    transform-box: fill-box;
    filter: brightness(150%);
    animation: none;
}


@keyframes toRed{
    to{
        stroke: red;
    }
}


@keyframes brighter {
    from {
        filter: brightness(90%);
    }

    to {
        
        filter: brightness(150%)
    }
}


@keyframes show {
   from{
    opacity: 0;
   }

   to{
    opacity: 1;
   }
    
}




@keyframes shake {
    0%{
      
        transform: translateY(-1px) rotateZ(-1deg)
  
      }
      25%{
        transform: translateX(1px)  rotateZ(-2deg);
      }
        
      50%{
        transform: translateX(-1px) rotateZ(1deg);
      }
      100%{
        transform: translateX(1px)  rotateZ(2deg);
      }
}