.GameView{
  margin-top: 10px;
  margin-left: 10px;
  width:100%;
  height: 100%;
  flex-grow: 1;
  position: relative;
  
}
.GameView canvas{
    border-radius: 5px;
    border: solid var(--brColor);
    position: absolute;
  }
 
.backgroundLayer{
    background-color: #f4f8f9;
  }


.ImageAssets{
  visibility: hidden;
  display: none;
}
 
.homeButton{
  position: absolute;
  z-index: 10;
}