

<div>
    
    <button class="game-view-button" [ngStyle]="isPlaying? {'background-color':'var(--selectGreen)'}:{'background-color':'var(--smHeader)'}" (click)="play()">
        <fa-icon *ngIf="!isPlaying" [icon]="playIcon"></fa-icon>
        <fa-icon *ngIf="isPlaying" [icon]="pauseIcon"></fa-icon>
    </button>

    <button class="game-view-button" (click)="decreaseZoom()"><fa-icon [icon]="magMinusIcon"></fa-icon></button>
    <button class="game-view-button" (click)="increaseZoom()"><fa-icon [icon]="magPlusIcon"></fa-icon></button>

    <label>Layer:</label>
    <button class="game-view-button" (click)="switchLayer()">{{layer}}</button>

</div>


<div #gameview class="GameView">
    <canvas id="background" class="backgroundLayer"></canvas>
    <canvas id="mainground"></canvas>
    <canvas id="foreground"></canvas>
</div>

<form class="column-row-form" (ngSubmit)="changeSize()">
    <label>Width:</label>
    <input name="columns" type="number" [(ngModel)]="columns"/>
    <label>Height:</label>
    <input name="rows" type="number" [(ngModel)]="rows"/>
    <button class="game-view-button" (click)="changeSize()">Change Game Size <fa-icon [icon]="chart"></fa-icon></button>
    <button class="game-view-button" (click)="clearScene()">Clear <fa-icon [icon]="eraserIcon"></fa-icon></button>
</form>

<div *ngIf="showError" class="errorContainer pixelFont">
    <p class="errorMessage">{{errorMessage}}</p>
    <button class="game-view-button" (click)="removeError()"><fa-icon [icon]="closeIcon" ></fa-icon></button>
</div>


